## <a id='toc1_1_'></a>[Solcast API](#toc0_)
Author : Saddik Imad
<br/>
Date : 23/03/2024

**Table of contents**<a id='toc0_'></a>    
- [Loading the API Key](#toc1_2_)    
- [Making the request](#toc1_3_)    
- [To a dataframe](#toc1_4_)

## <a id='toc1_2_'></a>[Loading the API Key](#toc0_)

Make sur to create a .env file and add `SOLCAST_API_KEY=` to it. Make sure to get the API Key from [here](https://toolkit.solcast.com.au/account/api-key).

In [2]:
import os
from dotenv import load_dotenv


# Load the API key from the .env file
load_dotenv()
key = os.getenv("SOLCAST_API_KEY")

## <a id='toc1_3_'></a>[Making the request](#toc0_)

Solcast provides a wide range of services (forecast, live data, historic data, historic forecast, etc), make sure to visit the [docs](https://docs.solcast.com.au/) to learn more. Let's show how to get irradiance and weather Historical data by using the API, read about this part in this [section](https://docs.solcast.com.au/#9de907e7-a52f-4993-a0f0-5cffee78ad10) in the docs.

### Define the parameters for the request

In [ ]:
latitude = -33.856784
longitude = 151.215297
start = "2021-10-25T14:45:00.000Z"
duration = "P31D" # maximum duration is 31 days
format_ = "json"
time_zone = "utc"
output_parameters = "albedo,precipitation_rate,surface_pressure"

### Pass the API key in the Authorization header

In [ ]:
headers = {
    "Authorization": f"Bearer {key}"
}

### Making the API call

In [3]:
import requests


url = f"https://api.solcast.com.au/data/historic/radiation_and_weather?latitude={latitude}&longitude={longitude}&start={start}&duration={duration}&format={format_}&time_zone={time_zone}&output_parameters={output_parameters}"
response = requests.get(url, headers=headers)

## <a id='toc1_4_'></a>[To a dataframe](#toc0_)

Let's take the response and convert it to a dataframe.

In [4]:
import pandas as pd


# Extract the data from the response & convert it to a DataFrame
data = response.json()['estimated_actuals']
pd.DataFrame(data)

,albedo,precipitation_rate,surface_pressure,period_end,period
0,0.09,0.0,1026.8,2021-10-25T15:00:00.0000000Z,PT30M
1,0.09,0.0,1026.7,2021-10-25T15:30:00.0000000Z,PT30M
2,0.09,0.0,1026.7,2021-10-25T16:00:00.0000000Z,PT30M
3,0.09,0.0,1026.8,2021-10-25T16:30:00.0000000Z,PT30M
4,0.09,0.0,1026.8,2021-10-25T17:00:00.0000000Z,PT30M
...,...,...,...,...,...
1484,0.08,0.0,1015.0,2021-11-25T13:00:00.0000000Z,PT30M
1485,0.08,0.0,1014.8,2021-11-25T13:30:00.0000000Z,PT30M
1486,0.08,0.0,1014.7,2021-11-25T14:00:00.0000000Z,PT30M
1487,0.09,0.0,1014.7,2021-11-25T14:30:00.0000000Z,PT30M
1488,0.09,0.0,1014.9,2021-11-25T15:00:00.0000000Z,PT30M